.home-container {
    background-image: url("../Images/pharmacy1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    font-weight: 600;

    .logout-container {
        padding: 2%;
        text-align: right;
    }

    .title {
        padding-top: 1%;
        color: white;
        text-shadow: 2px 2px black;
    }

    .login-button {
        padding: 2%;
        text-align: right;
    }

    .welcome {
        font-size: 1.25rem;
        color: white;
        text-shadow: 1px 1px black;
    }

    .mid {
        font-size: 1.25rem;
        padding: 15%;
        color: white;
        text-shadow: 2px 1px black;
        padding-bottom: 40%;
    }
}